/* ------------------------------- LOADER ---------------------------------- */
.loader{
    height: 100vh;
    width: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: #111;
}

.loader > div{
    background: #FFF;
    width: 16px;
    height: 32px;
    margin-left: 10px;
    animation: loader 1.2s infinite;
}

@keyframes loader{
    50%{
        height: 64px;
    }
}

.loader > div:nth-child(1){
    background: #FF9F1A;
    animation-delay: -0.4s ;
}

.loader > div:nth-child(2){
    background: #FED330;
    animation-delay: -0.2s ;
}

.loader > div:nth-child(3){
    background: #FFFA65;
    animation-delay: 0 ;
}

/* ------------------------------------------------------------------- */
body{
    margin: 0;
    font-family: 'Ubuntu',sans-serif;
    background-image: linear-gradient(to bottom, #1f1f1f, #3f3f41, #626266, #86878d, #acafb7, #aeb0b9, #afb2ba, #b1b3bc, #8e8e95, #6b6b70, #4b4b4c, #2c2c2c);
}
    .container{
    display: flex;
    justify-content: space-around;
}

.container > div{
    margin: 0 3em;
}

@media (max-width: 400px){
    .container{
        flex-direction: column;
        align-items: center;
    }
}
.container > nav{
    display: flex;
    justify-content: space-between;
}

header{
    background: #1F1F1F;
    position: fixed;
    width: 100%;
    top: 0;
}

.SignUp-In{
    display: flex;
    justify-content: space-between;
    /* width: 10em; */
}
.sign-up-link, .sign-in-link{
    font-family: 'Lora',serif;
    font-weight: 700;
    color: #FFF;
    text-decoration: none;
    font-size: 1.2rem;
    padding:  0 2px;
}

.sign-up-link:hover, .sign-in-link:hover{
    color: #F6BE3B;
}


/*--------------------------- footer ---------------------------*/

.bottom-container{
    background-color: #2C2C2C;
    color: #FFF;
    text-align: center;
    padding: 0.5em;
}

.footer-link{
    color: #FFF;
    text-decoration: none;
}

.footer-link:hover{
    color: #F6BE3B;
}

/* --------------------------------------------------------*/

.Company-Name, .SignUp-In{
    font-family: 'Lora',serif;
    font-weight: 700;
    color: #FFF;
}

nav > ul{
    list-style: none;
    display: flex;
    padding: 0;
}

nav a{
    text-decoration: none;
    color: #FFF;
    font-weight: 700;
    padding: 0.25em 0;
}

nav a:hover,
nav a:focus{
    color: #F6BE3B;
}

.current-page{
    border-bottom: 1px solid #FFF;
}

.current-page:hover{
    color: #FFF;
}

li{
   margin-left: 1em ;
}

/* ----------------------------- items ---------------------------*/


.wrapper{
    margin: 0 1em;
}

.row1{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 1.5rem;
    text-align: left;
    margin-top: 6em;
    margin-bottom:2em;
}

.row1 > div{
    
    border-radius: 2.5rem;
    padding: 2em 1em;
    box-shadow: rgb(0, 0, 0) 0px 20px 30px -10px;
    background-color: #FFF;
}

.last-section{
    display: flex;
    flex-direction: column;
    text-align: left;
    background: #007F86;
    color: #FFF;
    padding-left:0.5rem;
    font-weight: 700;
    border-radius: 15px;
    /* background-image: linear-gradient(to bottom, #41444a, #5f6166, #7e7f83, #9e9ea2, #bfbfc2); */
}

.price{
    align-self: flex-start;
    color: #fff;
    font-weight: 700;
}

.description{
    width: 10rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.item-image-container{
    display: flex;
    justify-content: flex-end;
}

/* Pagination */
.pagination > ul {
    display: flex;
    border-radius: 50px;
    justify-content: center;
    background-color: #FFF ;
    padding: 5px;
    
}

.pagination > ul >li {
    list-style: none;
    cursor: pointer;
    line-height: 2;
    padding: 8px;

}

/* .pagination > ul > li.btn-prev{
    background-color: #007F86;
    border-radius: 25px 5px 5px 25px;
    width: 55px;
    text-align: center;
}

.pagination > ul > li.btn-next{
    background-color: #007F86;
    border-radius: 5px 25px 25px 5px;
    width: 55px;
    text-align: center;
} */





/* ------------------------- media queires -----------------------------*/
@media (max-width: 905px){
    .container{
        align-content: center;
    }
    .row1{
        grid-template-columns: repeat(3, 1fr); 
    }
}

@media (max-width: 743px){
    .container{
        align-content: center;
    }
    .row1{
        grid-template-columns: repeat(2, 1fr); 
    }
}

@media (max-width: 600px){
    .container{
        align-content: center;
    }
    .row1{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 5em; 
    }
}

/* case: when nav bar is close their will be no argin */
@media (max-width: 543px){ 
    .container{
        align-content: center;
    }
    .row1{
        grid-template-columns: repeat(2, 1fr);
        margin-top: 6em; 
    }
}


@media (max-width: 475px){
    .row1{
        grid-template-columns: 1fr;
        margin-top: 7em; 
    }

    .item-image-container{
        justify-content: center;
    }
}

@media (max-width: 400px){
    .row1{
        grid-template-columns: 1fr;
        margin-top: 12em; 
    }

    .item-image-container{
        justify-content: center;
    }
}
/* ---------------------------------------------------------------- */

.item-image
{
    background-image: url(./images/AIRPRO.jpg);
    background-repeat: no-repeat;
    height: 11rem;
    width: 9rem;
}

/* --------------------------------------------------------------- */



